<div class="container">
  <div class="atestado">
    <form 
    #formAtestado="ngForm"
    (ngSubmit)="confirmarAtestado()"
    >
      <h5>Dados do Atestado</h5>
      <hr />

      <div class="form-group col-md-6">
        <label>Data Atestado</label>
        <input 
          type="date" 
          class="form-control" 
          autocomplete="false" 
          name="data" 
          required 
          ngModel
          [(ngModel)] = "atestado.data"
          #inputData="ngModel">
        <small *ngIf="!inputData.valid && inputData.touched" class="form-text text-danger">Data inválida</small>
      </div>

      <div class="form-group col-md-6">
        <label>Dias Solicitados</label>
        <input 
          type="number" 
          class="form-control" 
          placeholder="Dias" 
          autocomplete="false" 
          name="dias" 
          required 
          minlength="1" 
          maxlength="365"
          [(ngModel)] = "atestado.dias"
          #inputDias="ngModel">
        <small *ngIf="!inputDias.valid && inputDias.touched" class="form-text text-danger">Número de dias inválido</small>
      </div>

      <div class="form-group col-md-6">
        <label>CID informada</label>
        <input
          type="text"
          class="form-control"
          placeholder="CID informada no atestado"
          autocomplete="false"
          name="cid"
          maxlength="5"
          required
          [(ngModel)] = "atestado.cid"
          #inputCid>
        <small *ngIf="!inputCid.valid && inputCid.touched" class="form-text text-danger">CID inválida</small>
      </div>

      <div class="form-group col-md-6">
        <button class="btn btn-lg btn-primary col-md-6" type="submit">Próximo</button>    
        <br/>
        <br/>
        <div *ngIf="formAtestado.submitted && !atestadoValido" class="alert alert-danger" role="alert">
          Atestado informado inválido !
        </div>
      </div>
    </form>
  </div>
</div>