<div class="gridAgenda">
  <div class="container">
    <div class="form-group">
      <table class="table table-hover"> 
        <thead>
          <tr>
            <th>Data</th>
            <th>Hora</th>
            <th>Médico</th>
            <th class="text-center"></th>
        </thead>
          <tbody>
            <tr 
              *ngFor="let agenda of agendasDisponiveis"
              >
              <td>{{agenda.dataDisponivel |  date:"dd/MM/yyyy" }}</td>
              <td>{{agenda.hora}}</td>
              <td>{{agenda.medico}}</td>
              <td class="text-center">
                <input
                  type="checkbox"
                  (click)="selecionarAgenda(agenda)"
                  [value]="agenda.id"
                  [checked] = "agenda.selecionado"
                >
              </td>
            </tr>
          </tbody>
        </table>          
    </div>
  </div>
</div>