<div class="container">
  <div class="home">
    <div class="jumbotron">
      <h1 class="display-3">Olá Servidor</h1>
      <p class="lead">Selecione uma das seguintes opções.</p>
      <hr class="my-4">
      <div class="row">
        <div class="col-sm">
          <button 
          type="button"
          class="btn btn-primary btn-lg btn-block"
          href="#"
          role="button"
          [routerLink] = "['/atestado']"
          >Agendar Perícia Medica</button>
        </div>
        <div class="col-sm"></div>
        <div class="col-sm">
          <button
          type="button"
          class="btn btn-success btn-lg btn-block" 
          href="#" 
          role="button"
          [routerLink] = "['/resultadoPericia']"
          >Resultado da Perícia Medica</button>
        </div>  
      </div>
    </div>
  </div>
</div>
